/* Bootstrap overwriting*/
body {
  color: #fff;
  background: #262626;
}

h1 {
  font-size: 24px;
}

small {
  font-family: monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  color: #fff;
}

li:first-letter {
  text-transform: capitalize;
}

.current-icon {
  font-size: 64px;
}

.daily-icon {
  width: 50px;
}

.d-flex {
  justify-content: right; /*justifies within flexbox*/
  align-items: flex-start; /*Does this do anything??*/
}

.daily {
  margin-top: 10px;
  text-align: center;
}

.dark-mode {
  justify-content: right;
}

.top-bar {
  padding-bottom: 10px;
}

.units {
  font-size: 16px;
  position: relative;
  top: -32px;
}

.weather-frame {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}

.current-icon {
  font-size: 64px;
}

#current-temperature {
  font-size: 64px;
  font-weight: 300;
  line-height: 100px;
}

#current-description {
  font-weight: 600;
}

#location-heading {
  margin-top: 20px;
}

.units .active {
  /* hides active unit link */
  color: #fff;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}
